<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Techshop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header style="display: flex; justify-content: center">
            <h1>Ejemplo de un index.html</h1>
        </header>
        <section>
            <h2>
                Esta es la tienda en linea del curso
            </h2>
        </section>
        <footer>
            Todos los derechos reservados TechShop 2025 &COPY;
        </footer>
    </body>
</html>
